<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>Hubert Nguyen | Win-food</title>
    <meta name="description" content="Food Finder: Find places to eat in downtown Austin" />
    <meta name="keywords" content="javascript, jQuery, austin, food, css3, ruby" />
    <meta name="author" content="Hubert Nguyen" />
    <link href='http://fonts.googleapis.com/css?family=Roboto|Open+Sans|Montserrat' rel='stylesheet' type='text/css'>
    <link href="style.css" rel="stylesheet">
    <link href="set1.css" rel="stylesheet">
    <link href="component.css" rel="stylesheet">
    <!-- GOOGLE MAPS API AND JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV["GOOGLE_API"]%>&libraries=places,geometry&sensor=false"></script>
    <!-- APPLICATION JS -->
    <script src="app.js"></script>
    <!-- Animations -->
    <script src="animation.js"></script>
    <script src="classie.js"></script>
    <script src="modernizr.custom.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <section class= "color-8 main-header">
        <nav class="cl-effect-7">
          <a href="#">How to Use?</a>
          <a href="#">About</a>
        </nav>
      </section>
      <div class="container">
        <div class="bubble"> <span class="bubble-text">Give me some food to eat!</span></div>
        <img class='navLogo' src="hippo.png" />
        <form>
          <span class="input input--haruki">
            <input class="food-type input__field input__field--haruki" type="text" id="input-1"/>
            <label class="input__label input__label--haruki" for="input-1">
              <span class="input__label-content input__label-content--haruki"><b>TYPE IN SOME FOOD!</b></span>
            </label>
            <button>Get food!</button>
          </span>
        </form>
      </div>
      <div class="container">
        <div id="map-canvas">
        <!-- Outlet for map -->
        </div>
      </div>
    </div>
  </body>
</html>




