<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link href="style.css" rel="stylesheet">
    <!-- GOOGLE MAPS API AND JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV["GOOGLE_API"]%>&libraries=places,geometry&sensor=false"></script>
    <!-- APPLICATION JS -->
    <script src="app.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <header class="main-header">
        <ul>
          <li>How to use?</li>
          <li>About</li
        </ul>
      </header>
      <div class="container">
        <div class="bubble"> Give me some food to eat!</div>
        <img class='navLogo' src="hippo.png" />
        <form>
          <p>Find our hippo Winning some food to chomp...</p>
          <input class="food-type" type="text" placeholder="food" >
          <input type='submit'>
        </form>
      </div>
      <div class="container">
        <div id="map-canvas">
        <!-- Outlet for map -->
        </div>
      </div>
    </div>
  </body>
</html>




