<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }

      .infoBody {
        float: left;
      }

      .infoImage {
        float: right;
        margin-left: 5px;
      }

      .header {
        font-size: 1.5em;
      }


    </style>
  </head>
  <body>

  <form>
    <input type="text" class="food-type" placeholder="food" />
    <input type="submit" />
  </form>

  <div class="foods" style="display: hidden"></div>


  <script src="http://maps.googleapis.com/maps/api/js?key=<%=ENV["GOOGLE_API"]%>&libraries=places,geometry&sensor=false">
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

  <script type="text/javascript">
var map;
    var initialize = function () {
    // submit can only be used on a forum
      $('form').on('submit', function (e) {
        e.preventDefault();

        // $.get( "/address", {searchTerm: $('.food-type').val()}, function (data) {
        //   // might need to do this
        //    // var data = $.parseJSON(data)

        //   console.log("Got data:", data);
        //   // console.log("data size:", Object.keys(data).length);
        // });


      var mapProp = {
        center: new google.maps.LatLng(30.2729209,97.74438630000003), //austin
        zoom: 14,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };

      map = new google.maps.Map(document.getElementById("map-canvas"), mapProp);
      // ajax request

      var defaultBounds = new google.maps.LatLngBounds(
        new google.maps.LatLng(30.343843,-97.744386),
        new google.maps.LatLng(30.272921,-97.744386));
      map.fitBounds(defaultBounds)


        $.ajax({
          type: "GET",
          url:'/address',
          "data": {
            searchTerm: $('.food-type').val()
          },
          success: function(data) {
            var lat = '';
            var lng = '';
            for(var i = 0; i < data.length; i++) {
              addMarker(data[i]);


              console.log(data[i]['name']);
              console.log(data[i]['location']['city'])
              console.log(data[i]['location']['state_code'])
              console.log(data[i]['location']['country_code'])
            }
          }
        })




      });
    };

    google.maps.event.addDomListener(window, 'load', initialize);

    var geocoder= new google.maps.Geocoder();
    var addMarker = function (place) {
      geocoder.geocode(
        {
          "address": place['location']['address'] + ' ' +
            place['location']['city'] + ' ' +
            place['location']['state_code'] + ' ' +
            place['location']['country_code']
        },
        function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            lat = results[0].geometry.location.lat();
            lng = results[0].geometry.location.lng();
          }
          console.log(place)

          var hippoimg = ''
          if (place.rating >= 5 ) {
            hippoimg = 'hippo50.png'
          } else if (place.rating == 4.5) {
            hippoimg = 'hippo45.png'
          } else if (place.rating == 4.0) {
            hippoimg = 'hippo40.png'
          } else if (place.rating == 3.5) {
            hippoimg = 'hippo35.png'
          } else if (place.rating <= 3) {
            hippoimg = 'hippo30.png'
          }
          var marker = new google.maps.Marker({
            position: new google.maps.LatLng(lat,lng),
            map: map,
            title: place["name"],
            animation: google.maps.Animation.DROP,
            icon: hippoimg

          });

          var contentFood = "<div class='infoContent'>" +

              "<div class='infoBody'>" +  "<div class='header'>" + place.name + '</div>'  + "<img src ='" + place.rating_img_url+ "'>"  + " " + place.review_count + " reviews <br>" + place.display_phone + "<br>"  + place.location.address +
              "</div>" +
              "<div class='infoImage'>" + "<img src='" + place.image_url + "'>" + " </div>"
            "</div>"

          var infowindow = new google.maps.InfoWindow({
            maxWidth: 350,
            content: contentFood,
          });
            console.log(marker.position);
            console.log(place['name'])

          google.maps.event.addListener(marker, 'click', function() {
            infowindow.open(map,marker);
          });

        }
      );
    };

    </script>
    <div id="map-canvas"></div>
  </body>
</html>




