<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
</head>
<body>
  <p>Yelp goes here</p>
<%@jresp['businesses'].each do | business | %>
  <%  if business['is_closed'] == false %>
      <p class="pizza"> <%="#{business['name']}" + " " + "#{business['rating']}" + " " + "#{business["location"]["postal_code"]}"%></p>
     <!--  puts business['location']['address']
      # printf("%-32s  %10s  %3d  %1.1f\n",
                # business['name'], business['address'],
                # business['review_count'], business['rating']) -->

    <%end%>
<%end%>
<!-- # puts "\n"
# jresp2['businesses'].each do | business |
#     if business['is_closed'] == false
#       printf("%-32s  %10s  %3d  %1.1f\n",
#                 business['name'], business['location.address'],
#                 business['review_count'], business['rating'])

#     end
# end
 -->

<script>
  var pizza = $(".pizza").text();
  pizza.split('<br />')

  console.log(pizza[0])
</script>

 <p></p>
</body>
</html>
