/*#################*/
/*# GLOBAL STYLES #*/
/*################*/

body, p, ul, li {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

a:visited {
  color: inherit;
}

.container {
  width: 96%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

/*#################*/
/*# SPEECH BUBBLE #*/
/*################*/

.bubble {
  position: relative;
  width: 156px;
  height: 80px;
  padding: 5px 20px;
  background: #FFCDFF;
  -webkit-border-radius: 42px;
  -moz-border-radius: 42px;
  border-radius: 42px;
  float: left;
  text-align: center;
  padding-top: 15px;
  margin-right: 18px;
  font-family: 'Montserrat', sans-serif;
  color:#333;

}

.bubble:after{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 14px 0 14px 30px;
  border-color: transparent #FFCDFF;
  width: 0;
  z-index: 1;
  right: -30px;
  top: 31px;
  float: left;
}

/*#########*/
/*# HEADER #/
/*#########*/

.main-header {
  height: 100px;
  background-color: #a16dad;
  color: white;
  font-weight: bold;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

nav a {
  position: relative;
  display: inline-block;
  margin: 15px 25px;
  outline: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
  font-size: 1.35em;
}

nav a:hover,
nav a:focus {
  outline: none;
}

/* Effect 7: second border slides up */
.cl-effect-7 a {
  padding: 12px 10px 10px;
  color: white;
  text-shadow: none;
  font-weight: 700;
}

.cl-effect-7 a::before,
.cl-effect-7 a::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: #566473;
  content: '';
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  transform: scale(0.85);
}

.cl-effect-7 a::after {
  opacity: 0;
  -webkit-transition: top 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: top 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: top 0.3s, opacity 0.3s, transform 0.3s;
}

.cl-effect-7 a:hover::before,
.cl-effect-7 a:hover::after,
.cl-effect-7 a:focus::before,
.cl-effect-7 a:focus::after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

.cl-effect-7 a:hover::after,
.cl-effect-7 a:focus::after {
  top: 0%;
  opacity: 1;
}

/*#########################*/
/*# INPUT SECTION AND LOGO #*/
/*########################*/

form {
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
}

.navLogo {
  float: left;
  height: 120px;
  width: 120px;
}

.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 1em;
  max-width: 250px;
  width: calc(100% - 2em);
  vertical-align: top;
}

.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #aaa;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
  outline: none;
}

.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #6a7989;
  font-weight: bold;
  font-size: 70.25%;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input__label-content {
  position: relative;
  display: block;
  padding: 1rem 0;
  width: 100%;
}

.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}

.icon {
  color: #ddd;
  font-size: 150%;
}

.input__field--haruki {
  padding: 0.4em 0em;
  width: 100%;
  background: transparent;
  color: #AFB5BB;
  font-size: 1.55em;
}

.input__label--haruki {
  position: absolute;
  width: 100%;
  text-align: left;
  pointer-events: none;
}

.input__label-content--haruki {
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s, font-size 0.3s;
}

.input__label--haruki::before,
.input__label--haruki::after {
  content: '';
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 4px;
  background: #a16dad;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.input__label--haruki::before {
  top: 0;
}

.input__label--haruki::after {
  bottom: 0;
}

.input__field--haruki:focus + .input__label--haruki .input__label-content--haruki,
.input--filled .input__label-content--haruki {
  -webkit-transform: translate3d(0, -90%, 0);
  transform: translate3d(0, -90%, 0);
  font-size: .75rem;
}

.input__field--haruki:focus + .input__label--haruki::before,
.input--filled .input__label--haruki::before {
  -webkit-transform: translate3d(0, -0.5em, 0);
  transform: translate3d(0, -0.5em, 0);
}

.input__field--haruki:focus + .input__label--haruki::after,
.input--filled .input__label--haruki::after {
  -webkit-transform: translate3d(0, 0.5em, 0);
  transform: translate3d(0, 0.5em, 0);
}

.input__label-content {
  font-size: 1.2rem;
}

/*#########*/
/*# BUTTON #*/
/*#########*/

.getFood {
  margin-top: 15px;
}

.getFood {
  outline: none;
  background-color:#b75fbf;
  -moz-border-radius:28px;
  -webkit-border-radius:28px;
  border-radius:28px;
  border:1px solid #566473;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:17px;
  padding:16px 31px;
  text-decoration:none;
  text-shadow:0px 1px 0px #9d21db;

}
.getFood:hover {
  background-color:#964f96;
  color: #333;
  position: relative;
  top:-1px;
}
.getFood:active {
  position:relative;
  top:-1px;
}

span .examples {
  position: relative;
  top: .4rem;
  font-size: 13px;
  color: gray;
}

/*########*/
/* MODALS*/
/*########*/

.ui-widget {
  line-height: 22px;
  font-size: 1em;
}

.ui-widget-content {
  background: #F9F9F9;
  color: #333;
  padding-bottom: 10px;
  font-family: 'Roboto';
}

.ui-widget-content p {
  padding-bottom: 10px;
  display: inline-block;
}

.ui-dialog {
  outline: none;
  z-index: 10;
  border-radius: 3%;
  border: 2px solid #6a7989;
}

.ui-dialog a {
  outline: none;
  text-decoration:none;
  color: #a16dad;
  margin-left: 5px;
}

.ui-dialog a:hover {
  font-weight: bold;
}

.ui-dialog .ui-dialog-content {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  overflow: auto;
  position: relative;
  padding: 10px;
  margin: 0;
}

.ui-dialog .ui-widget-header {
  background: #a16dad;
  border: 0;
  color: #fff;
  font-weight: normal;
}

.ui-dialog .ui-dialog-titlebar {
  padding: 10px;
  position: relative;
  font-size: 1em;
  border-radius: 3%;
}


.ui-button {
  outline: none;
  float: right;
  margin-right: 5px;
  cursor: pointer;
  background-color: #6a7989;
  border: none;
  color: #fff;
  border-radius: 10%;
}

.ui-button:hover {
  position: relative;
  top: -3px;
}

.ui-dialog-buttonset {
  padding: 13px;
  text-align: center;

}
.ui-dialog-buttonset button {
  float: initial;
  padding: 10px;
}

/*##############*/
/*# MAP OUTLET #*/
/*##############*/

.msg {
  margin-bottom: 1px;
  text-align: right;
  color: #a16dad;
  display: none;
  font-weight: bold;
}

#map-canvas h1 {
  text-align: center;
  color: #b75fbf;
  margin-top: 2rem;
}

#map-canvas {
  height: 500px;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

#wrapper {
  min-width: 700px;
}


