/*#################*/
/*# GLOBAL STYLES #*/
/*################*/

body, p, ul, li {
  margin: 0;
  padding: 0;
}

.container {
  width: 96%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

/*#################*/
/*# SPEECH BUBBLE #*/
/*################*/

.bubble {
  position: relative;
  width: 215px;
  height: 80px;
  padding: 5px;
  background: #FFCDFF;
  -webkit-border-radius: 42px;
  -moz-border-radius: 42px;
  border-radius: 42px;
  float: left;
  text-align: center;
  padding-top: 15px;
  margin-right: 18px;
  font-family: 'Montserrat', sans-serif;
  color:#333;

}

.bubble:after{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 14px 0 14px 30px;
  border-color: transparent #FFCDFF;
  width: 0;
  z-index: 1;
  right: -30px;
  top: 31px;
  float: left;
}

/*#########*/
/*# HEADER #/
/*#########*/

.main-header {
  height: 100px;
  background-color: #a16dad;
  color: white;
  font-weight: bold;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.main-header li {
  margin-top: 35px;
}

ul {
  list-style-type: none;
}

ul li {
  display: inline-block;
  margin-right: 50px;
  font-size: 20px;
  padding: 20px;
  margin-bottom: 10px;
}

ul li:hover {
  color: #333;
  font-size: 22px;
}

/*#################*/
/*# INPUT SECTION #*/
/*################*/

form {
  margin-top: 50px;
  font-family: 'Open Sans', sans-serif;
}

.navLogo {
  float: left;
  height: 120px;
  width: 120px;
}

/*#########*/
/*# BUTTON #*/
/*#########*/

button {
  margin-top: 37px;
}

button {
  outline: none;
  background-color:#b75fbf;
  -moz-border-radius:28px;
  -webkit-border-radius:28px;
  border-radius:28px;
  border:1px solid #000000;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:17px;
  padding:16px 31px;
  text-decoration:none;
  text-shadow:0px 1px 0px #9d21db;
}
button:hover {
  background-color:#964f96;
  color: #333;
}
button:active {
  position:relative;
  top:2px;
}

/*##############*/
/*# MAP OUTLET #*/
/*##############*/

#map-canvas {
  height: 500px;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

#wrapper {
  min-width: 700px;
}


